/* MODEL SECTION */
.main {
  width: 100%;
  height: 100%;
}
.main .section_newin {
  position: absolute;
  right: 0;
  width: calc(100% - 188px);
  height: 100%;
}
.main .section_newin .box_products {
  position: absolute;
  left: 0;
  bottom: 50px;
  width: 664px;
  height: 90%;
  max-height: 748px;
  flex-shrink: 0;
  border-radius: 7px;
  border: 0.56px solid #A6F6FF;
  box-shadow: 0px 0px 3.472px 0px #A6F6FF inset;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
.main .section_newin .box_products .border {
  width: 78px;
  height: 74px;
  background: url(../../assets/images/newin/border.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.main .section_newin .box_products .border_top_left {
  position: absolute;
  left: -17px;
  top: -17px;
}
.main .section_newin .box_products .border_top_right {
  position: absolute;
  right: -19px;
  top: -15px;
  rotate: 90deg;
}
.main .section_newin .box_products .border_bottom_left {
  position: absolute;
  left: -19px;
  bottom: -15px;
  rotate: -90deg;
}
.main .section_newin .box_products .border_bottom_right {
  position: absolute;
  right: -17px;
  bottom: -17px;
  rotate: 180deg;
}
.main .section_newin .box_products .box_inner {
  border-radius: 4px;
  background-color: #0A2031;
  background-image: url("../../assets/images/newin/bg_products.png");
  background-size: 100%;
  background-position: 50% 65px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.main .section_newin .box_products .box_inner .box_filter {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 16px;
  padding-left: 23px;
  padding-right: 23px;
}
.main .section_newin .box_products .box_inner .box_filter:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1.15%;
  width: 101.15%;
  height: 0.5px;
  background: linear-gradient(90deg, #A6F6FF 0%, rgba(107, 151, 153, 0) 100%);
}
.main .section_newin .box_products .box_inner .box_filter .title {
  color: #FFF;
  text-align: center;
  text-shadow: 0px 0px 8.848px rgba(200, 234, 250, 0.5);
  font-family: var(--font-family3);
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.main .section_newin .box_products .box_inner .box_filter .form_search {
  border-radius: 10px;
  opacity: 0.3;
  height: 38px;
  padding-left: 13px;
  padding-right: 13px;
  background: #091926;
  display: flex;
  align-items: center;
  gap: 2px;
}
.main .section_newin .box_products .box_inner .box_filter .form_search:hover {
  transition: 0.3s ease-in-out;
  opacity: 0.8;
}
.main .section_newin .box_products .box_inner .box_filter .form_search .button {
  border: none;
  background: none;
}
.main .section_newin .box_products .box_inner .box_filter .form_search input {
  background: none;
  border: none;
  color: #FFF;
  text-align: center;
  font-family: var(--font-family3);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main .section_newin .box_products .box_inner .box_filter .form_search input::-moz-placeholder {
  color: #FFF;
  text-align: center;
  font-family: var(--font-family3);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main .section_newin .box_products .box_inner .box_filter .form_search input::placeholder {
  color: #FFF;
  text-align: center;
  font-family: var(--font-family3);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main .section_newin .box_products .box_inner .box_filter .buttons_action {
  z-index: 2;
  display: flex;
  gap: 15px;
}
.main .section_newin .box_products .box_inner .box_filter .buttons_action .button {
  cursor: pointer;
  border: none;
  background: none;
}
.main .section_newin .box_products .box_inner .neon_text {
  margin-top: 34px;
  color: #ff8187;
  text-align: center;
  text-shadow: 0px 0px 8.848px rgba(200, 234, 250, 0.5);
  font-family: var(--third-family);
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-shadow: 0 0 7px #DE000B, 0 0 10px #DE000B, 0 0 21px #DE000B, 0 0 42px #DE000B, 0 0 82px #DE000B, 0 0 92px #DE000B, 0 0 102px #DE000B, 0 0 151px #DE000B;
}
.main .section_newin .box_products .box_inner .items {
  display: flex;
  list-style: none;
}
.main .section_newin .box_products .box_inner .items .item:nth-child(1) img {
  width: 216px;
  height: 288px;
}
.main .section_newin .box_products .box_inner .items .item:nth-child(2) img {
  width: 228px;
  height: 349px;
}
.main .section_newin .box_products .box_inner .items .item:nth-child(3) img {
  width: 216px;
  height: 288px;
}
.main .section_newin .box_model .model {
  z-index: 2;
  position: absolute;
  right: 150px;
  bottom: 140px;
  width: 226px;
  height: 551px;
  background: url(../../assets/images/home/model.png);
  background-size: 226px 551px;
  background-position: center;
  background-repeat: no-repeat;
}
.main .section_newin .box_model .bottom_light {
  z-index: 1;
  position: absolute;
  bottom: 20px;
  right: 0;
  width: 596px;
  height: 208px;
  background: url("../../assets/images/newin/bottom_light.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}/*# sourceMappingURL=newin.css.map */