* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.body {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(270deg, #0D2940 15%, #226AA6 49.67%, #0D2940 85%);
  display: flex;
  align-items: center;
  padding: 0 20px 0 20px;
  overflow-y: hidden;
  gap: 30px;
}

.header {
  z-index: 3;
  position: relative;
  min-width: 122px;
  height: 670px;
  border-radius: 18px;
  background: #0D2940;
  box-shadow: 0px 0px 20px 0px #1C5D91 inset;
  padding: 20px 18px 20px 18px;
}
.header .border {
  position: absolute;
  width: 39px;
  height: 72px;
  background: url("../images/home/header_border.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.header .border.border_t_left {
  left: -8px;
  top: -8px;
}
.header .border.border_t_right {
  right: -8px;
  top: -8px;
  transform: scaleX(-1);
}
.header .border.border_b_left {
  left: -8px;
  bottom: -8px;
  transform: scaleY(-1);
}
.header .border.border_b_right {
  right: -8px;
  bottom: -8px;
  transform: scaleY(-1) scaleX(-1);
}
.header .nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .nav .icon {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: 0.83px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .nav .nav_title {
  color: #ffffff;
  text-align: center;
  font-family: Saira;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header .nav .nav_line {
  margin-top: 28px;
  margin-bottom: 28px;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, rgba(101, 200, 255, 0) 0%, rgb(101, 200, 255) 50%, rgba(101, 200, 255, 0) 100%);
  transform: scaleY(0.5);
  transform-origin: top;
}
.header .nav .search {
  cursor: pointer;
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.header .nav .nav_items {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.header .nav .nav_items .nav_item.activated a {
  transition: all 0.3s ease;
  opacity: 1;
}
.header .nav .nav_items .nav_item.activated a .icon {
  border-radius: 100px;
  border: 0.833px solid #FFF;
  background: radial-gradient(50% 50% at 50% 50%, #1C5D91 27.4%, rgba(28, 93, 145, 0) 100%);
  box-shadow: 0px 0px 4.417px 0px #FFF;
}
.header .nav .nav_items .nav_item.activated a .icon .active {
  display: block;
}
.header .nav .nav_items .nav_item.activated a .icon .normal {
  display: none;
}
.header .nav .nav_items .nav_item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  opacity: 0.8;
}
.header .nav .nav_items .nav_item a .icon .active {
  display: none;
}
.header .nav .nav_items .nav_item a:hover {
  transition: all 0.3s ease;
  opacity: 1;
}
.header .nav .nav_items .nav_item a:hover .icon {
  border-radius: 100px;
  border: 0.833px solid #FFF;
  background: radial-gradient(50% 50% at 50% 50%, #1C5D91 27.4%, rgba(28, 93, 145, 0) 100%);
  box-shadow: 0px 0px 4.417px 0px #FFF;
}
.header .nav .nav_items .nav_item a:hover .icon .active {
  display: block;
}
.header .nav .nav_items .nav_item a:hover .icon .normal {
  display: none;
}
.header .nav .game a {
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.grid_floor {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 400px;
  background: linear-gradient(360deg, #0d2940 0%, rgba(13, 41, 64, 0) 100%);
}
.grid_floor::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../images/home/floor.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main {
  width: 100%;
  height: 100%;
}

.scene {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scene .top_platform {
  position: absolute;
  top: -90px;
  z-index: 2;
}
.scene .top_platform img {
  width: 100%;
  max-width: 756px;
  height: auto;
}
.scene .bottom_platform {
  position: absolute;
  bottom: 0;
  z-index: 2;
}
.scene .bottom_platform img {
  width: 100%;
  max-width: 910px;
  height: auto;
}
.scene .scene_3d {
  z-index: 3;
  position: absolute;
  bottom: 150px;
  width: 490px;
  height: 617px;
  display: flex;
  justify-content: center;
  perspective: 200px;
}
.scene .scene_3d .model {
  position: absolute;
  width: 320px;
  height: 616px;
  bottom: 0;
}
.scene .scene_3d .rotating_object {
  position: absolute;
  cursor: pointer;
  width: 100px;
  height: 100px;
  bottom: 350px;
  left: 37%;
  transform-origin: 230px 50%;
  transform-style: preserve-3d;
}
.scene .scene_3d .rotating_object img {
  width: 100px;
  height: 100px;
}

.preview_slider {
  z-index: 3;
  position: absolute;
  right: 60px;
  bottom: 0px;
  transform: translateY(60px);
  width: 260px;
  height: 584px;
  background: url("../images/home/luminous_plate.svg");
  background-size: 260px 584px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
}
.preview_slider .container {
  width: 260px;
  height: 354px;
  position: absolute;
  top: 0;
  border-radius: 20px;
  background: rgba(13, 47, 74, 0.01);
  box-shadow: 0px 0px 10.206px 0px #1B5C86 inset;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.preview_slider .container .border {
  position: absolute;
  width: 49px;
  height: 50px;
  background: url("../images/home/border_preview.svg");
}
.preview_slider .container .border.border_t_left {
  top: -8px;
  left: -8px;
}
.preview_slider .container .border.border_t_right {
  top: -8px;
  right: -8px;
  transform: scaleX(-1);
}
.preview_slider .container .border.border_b_left {
  bottom: -10px;
  left: -8px;
  transform: scaleY(-1);
}
.preview_slider .container .border.border_b_right {
  bottom: -10px;
  right: -8px;
  transform: scaleY(-1) scaleX(-1);
}
.preview_slider .container .name_product {
  margin-top: 16px;
  margin-bottom: 8px;
  color: #FFF;
  text-align: center;
  font-family: Saira;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.preview_slider .container .preview_line {
  margin-top: 8px;
  width: 100%;
  height: 1px;
  transform: scaleY(0.5);
  transform-origin: top;
  background: linear-gradient(90deg, rgba(101, 200, 255, 0) 0%, rgb(101, 200, 255) 50%, rgba(101, 200, 255, 0) 100%);
}
.preview_slider .container .container_carousel {
  overflow: hidden;
  position: relative;
  margin-top: 18px;
  width: 179px;
  height: 200px;
  display: flex;
}
.preview_slider .container .container_carousel .carousel {
  width: 179px;
  height: 200px;
  transition: transform 0.3s ease;
  display: flex;
}
.preview_slider .container .container_carousel .carousel .carousel_slide {
  display: flex;
  width: 179px;
  height: 200px;
}
.preview_slider .container .container_carousel .carousel .carousel_slide img {
  width: 179px;
  height: 200px;
}
.preview_slider .container .button {
  margin-top: 18px;
  display: flex;
  width: 180px;
  height: 49px;
  padding: 8px 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: #2C69B2;
  box-shadow: 0px 0px 22px 0px #75F6FF inset;
  border: none;
}
.preview_slider .container .button .text {
  color: #FFF;
  text-align: center;
  font-family: Saira;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 25px;
}
.preview_slider .container .button .icon {
  display: flex;
  align-items: center;
  width: 8px;
  height: 25px;
}
.preview_slider .container .button .icon svg {
  width: 8px;
  height: 12px;
}

.profile_widget {
  z-index: 3;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 257px;
  height: 101px;
}
.profile_widget::before {
  content: "";
  position: absolute;
  inset: 0;
  -webkit-clip-path: path("M0 12C0 5.37259 5.37258 0 12 0H245C251.627 0 257 5.37258 257 12V89C257 95.6274 251.627 101 245 101H23.6688C20.0721 101 16.6651 99.3868 14.3859 96.6045L2.71712 82.3603C0.960104 80.2155 0 77.5284 0 74.7558V12Z");
          clip-path: path("M0 12C0 5.37259 5.37258 0 12 0H245C251.627 0 257 5.37258 257 12V89C257 95.6274 251.627 101 245 101H23.6688C20.0721 101 16.6651 99.3868 14.3859 96.6045L2.71712 82.3603C0.960104 80.2155 0 77.5284 0 74.7558V12Z");
  background: #0D2940;
  box-shadow: inset 0 0 20px rgba(28, 93, 145, 0.5);
  z-index: -1;
}
.profile_widget .border {
  position: absolute;
  width: 37px;
  height: 35px;
  background: url("../../assets/images/home/profile_border.svg");
  background-size: 37px 35px;
  background-position: center;
  background-repeat: no-repeat;
}
.profile_widget .border.border_t_right {
  top: -8px;
  right: -8px;
}
.profile_widget .border.border_b_right {
  bottom: -8px;
  right: -8px;
  transform: scaleY(-1);
}
.profile_widget .content {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 16px 0 8px;
  gap: 12px;
}
.profile_widget .content .profile_photo {
  min-width: 81px;
  height: 85px;
  overflow: hidden;
}
.profile_widget .content .profile_photo img {
  -webkit-clip-path: path("M0 5.37975C0 2.4086 2.38585 0 5.32895 0H75.6711C78.6142 0 81 2.40859 81 5.37975V79.6203C81 82.5914 78.6142 85 75.6711 85H18.6166C17.0916 85 15.6396 84.3404 14.6282 83.188L1.34048 68.049C0.476844 67.065 0 65.7959 0 64.4812V5.37975Z");
          clip-path: path("M0 5.37975C0 2.4086 2.38585 0 5.32895 0H75.6711C78.6142 0 81 2.40859 81 5.37975V79.6203C81 82.5914 78.6142 85 75.6711 85H18.6166C17.0916 85 15.6396 84.3404 14.6282 83.188L1.34048 68.049C0.476844 67.065 0 65.7959 0 64.4812V5.37975Z");
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile_widget .content .right_content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
.profile_widget .content .right_content .username {
  overflow: hidden;
  color: #FDFFFF;
  text-overflow: ellipsis;
  font-family: Saira;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-variant: all-small-caps;
}
.profile_widget .content .right_content .profile_line {
  width: 100%;
  height: 1px;
  transform: scaleY(0.5);
  transform-origin: top;
  background: linear-gradient(90deg, rgba(101, 200, 255, 0) 0%, rgb(101, 200, 255) 50%, rgba(101, 200, 255, 0) 100%);
}
.profile_widget .content .right_content .actions {
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 110px;
  margin: 0 auto;
  gap: 17px;
}
.profile_widget .content .right_content .actions .button {
  background: none;
  border: none;
}

.popup_cart {
  display: none;
}

.popup_search_nav {
  display: none;
  flex-direction: column;
  z-index: 5;
  position: absolute;
  left: 162px;
  width: 236px;
  height: 670px;
  border-radius: 18px;
  background: #0D2940;
  box-shadow: 0px 0px 20px 0px #1C5D91 inset;
  padding: 60px 18px 60px 18px;
}
.popup_search_nav .border {
  position: absolute;
  width: 39px;
  height: 72px;
  background: url("../images/home/header_border.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.popup_search_nav .border.border_t_left {
  left: -8px;
  top: -8px;
}
.popup_search_nav .border.border_t_right {
  right: -8px;
  top: -8px;
  transform: scaleX(-1);
}
.popup_search_nav .border.border_b_left {
  left: -8px;
  bottom: -8px;
  transform: scaleY(-1);
}
.popup_search_nav .border.border_b_right {
  right: -8px;
  bottom: -8px;
  transform: scaleY(-1) scaleX(-1);
}
.popup_search_nav .button_close {
  position: absolute;
  top: 18px;
  left: 18px;
  border: none;
  background: none;
}
.popup_search_nav .logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
.popup_search_nav .logo svg {
  width: 93px;
  height: 52px;
}
.popup_search_nav .search_nav_form {
  position: relative;
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  gap: 5px;
  height: 36px;
  padding: 0px 12px;
  border-radius: 100px;
  border: 1px solid #556979;
}
.popup_search_nav .search_nav_form:hover {
  transition: 0.3s ease;
  border: 1px solid #fff;
}
.popup_search_nav .search_nav_form .hidden_icon {
  display: none;
  position: absolute;
  right: 0;
  padding: 9px 12px 9px 12px;
  align-items: center;
  justify-content: center;
}
.popup_search_nav .search_nav_form .hidden_icon svg {
  width: 10px;
  height: 10px;
}
.popup_search_nav .search_nav_form .icon {
  width: 16px;
  height: 16px;
}
.popup_search_nav .search_nav_form .icon svg {
  width: 16px;
  height: 16px;
}
.popup_search_nav .search_nav_form input {
  height: 34px;
  border: none;
  background: none;
  padding-left: 4px;
  font-family: "Work Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}
.popup_search_nav .search_nav_form input:focus + .hidden_icon {
  display: flex;
  z-index: 3;
  cursor: pointer;
}
.popup_search_nav .search_nav_form input::-moz-placeholder {
  color: #556979;
}
.popup_search_nav .search_nav_form input::placeholder {
  color: #556979;
}
.popup_search_nav .title {
  color: #fff;
  font-family: Saira;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.popup_search_nav .last_viewed_container .items {
  margin-top: 20px;
  display: flex;
  gap: 12px;
}
.popup_search_nav .last_viewed_container .items .item {
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #fff;
  background: rgba(31, 93, 145, 0.5);
  -webkit-backdrop-filter: blur(6.1999998093px);
          backdrop-filter: blur(6.1999998093px);
  width: 58px;
  height: 73px;
  padding: 8px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup_search_nav .last_viewed_container .items .item img {
  width: 50px;
  height: 57px;
}
.popup_search_nav .last_viewed_container .line {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 1px;
  transform: scaleY(0.5);
  transform-origin: top;
  background: linear-gradient(90deg, rgba(101, 200, 255, 0) 0%, rgb(101, 200, 255) 50%, rgba(101, 200, 255, 0) 100%);
}
.popup_search_nav .recommended_container .items {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.popup_search_nav .recommended_container .items .item:hover {
  transition: 0.3s ease;
  opacity: 0.8;
}
.popup_search_nav .recommended_container .items .item a {
  display: flex;
  align-items: center;
  gap: 8px;
}
.popup_search_nav .recommended_container .items .item a .icon {
  width: 20px;
  height: 20px;
}
.popup_search_nav .recommended_container .items .item a .icon svg {
  width: 20px;
  height: 20px;
}
.popup_search_nav .recommended_container .items .item a .text {
  font-family: Saira;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}

.popup_preview {
  position: fixed;
  inset: 0;
  z-index: 10;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup_preview .mask {
  position: absolute;
  inset: 0;
  background: rgba(13, 41, 64, 0.2);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  cursor: pointer;
}
.popup_preview .content {
  z-index: 1;
  width: 100%;
  max-width: 1100px;
  height: 100%;
  max-height: 747px;
  position: relative;
  border-radius: 22px;
  background: #0D2940;
  box-shadow: 0px 0px 50px 0px #1C5D91 inset;
  display: flex;
  flex-direction: row;
}
.popup_preview .content .border {
  position: absolute;
  width: 67px;
  height: 82px;
  background: url("../images/home/border_preview_product.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.popup_preview .content .border.border_t_left {
  left: -8px;
  top: -8px;
}
.popup_preview .content .border.border_t_right {
  right: -8px;
  top: -8px;
  transform: scaleX(-1);
}
.popup_preview .content .border.border_b_left {
  left: -8px;
  bottom: -8px;
  transform: scaleY(-1);
}
.popup_preview .content .border.border_b_right {
  right: -8px;
  bottom: -8px;
  transform: scaleY(-1) scaleX(-1);
}
.popup_preview .content .left_content {
  border-radius: 22px;
  width: 100%;
  max-width: 633px;
  min-width: 633px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup_preview .content .left_content .botton_close {
  z-index: 4;
  position: absolute;
  left: 32px;
  top: 32px;
  width: 20px;
  height: 20px;
  border: none;
  background: none;
}
.popup_preview .content .left_content .botton_close svg {
  width: 20px;
  height: 20px;
}
.popup_preview .content .left_content .bg {
  position: absolute;
  top: 76px;
  left: 50%;
  transform: translateX(-50%);
  width: 491.445px;
  height: 326.805px;
  border-radius: 491.445px;
  background: #226AA6;
  filter: blur(123.789604187px);
}
.popup_preview .content .left_content .floor {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 237.493px;
  background: url("../../assets/images/home/floor_preview_product.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.popup_preview .content .left_content .platform_bottom_preview {
  z-index: 2;
  position: absolute;
  bottom: 50px;
  width: 100%;
  height: 200px;
  background: url("../../assets/images/home/platform_bottom_preview_product.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.popup_preview .content .left_content .model2 {
  z-index: 3;
  position: absolute;
  bottom: 170px;
  width: 201px;
  height: 500px;
}
.popup_preview .content .left_content .button_buy {
  z-index: 4;
  width: 180px;
  height: 49px;
  border: none;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 40px;
  border-radius: 12px;
  background: #2C69B2;
  box-shadow: 0px 0px 22px 0px #75F6FF inset;
}
.popup_preview .content .left_content .button_buy .text {
  color: #FFF;
  text-align: center;
  font-family: Saira;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.popup_preview .content .left_content .button_buy .arrow {
  display: flex;
  width: 8px;
  height: 12px;
}
.popup_preview .content .left_content .button_buy .arrow svg {
  width: 8px;
  height: 12px;
}
.popup_preview .content .right_content {
  width: 100%;
  height: 100%;
  padding: 20px 20px 20px 0px;
}
.popup_preview .content .right_content .inner_container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: #0D2940;
  box-shadow: 0px 0px 20px 0px #1C5D91 inset;
  display: flex;
  flex-direction: column;
  padding: 28px;
}
.popup_preview .content .right_content .inner_container .product_header {
  display: flex;
  gap: 108px;
  align-items: center;
}
.popup_preview .content .right_content .inner_container .product_header .name {
  color: #FFF;
  text-align: center;
  font-family: Saira;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.popup_preview .content .right_content .inner_container .product_header .price {
  color: #FFF;
  text-align: center;
  font-family: Saira;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.popup_preview .content .right_content .inner_container .line {
  margin-top: 24px;
  margin-bottom: 24px;
  width: 100%;
  height: 1px;
  transform: scaleY(0.5);
  transform-origin: top;
  background: linear-gradient(90deg, rgba(101, 200, 255, 0) 0%, rgb(101, 200, 255) 50%, rgba(101, 200, 255, 0) 100%);
}
.popup_preview .content .right_content .inner_container .product_description .title {
  color: #FFF;
  font-family: Saira;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.popup_preview .content .right_content .inner_container .product_description .title_selector {
  color: #FFF;
  font-family: Saira;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.popup_preview .content .right_content .inner_container .product_description .product_sizing {
  margin-top: 13px;
}
.popup_preview .content .right_content .inner_container .product_description .product_sizing .sizes_box {
  margin-top: 12px;
  display: flex;
  gap: 12px;
}
.popup_preview .content .right_content .inner_container .product_description .product_sizing .sizes_box label {
  width: 45px;
  height: 32px;
}
.popup_preview .content .right_content .inner_container .product_description .product_sizing .sizes_box label input {
  display: none;
}
.popup_preview .content .right_content .inner_container .product_description .product_sizing .sizes_box label input:checked + .name {
  background: #2C69B2;
  box-shadow: 0px 0px 6px 0px #75F6FF inset;
  border: none;
}
.popup_preview .content .right_content .inner_container .product_description .product_sizing .sizes_box label .name {
  cursor: pointer;
  display: flex;
  width: 45px;
  height: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Saira;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  border-radius: 6px;
  border: 1px solid #fff;
}
.popup_preview .content .right_content .inner_container .product_description .product_colors {
  margin-top: 24px;
}
.popup_preview .content .right_content .inner_container .product_description .product_colors .colors_box {
  margin-top: 12px;
  display: flex;
  gap: 12px;
}
.popup_preview .content .right_content .inner_container .product_description .product_colors .colors_box label {
  cursor: pointer;
  width: 28px;
  height: 28px;
  display: flex;
  border-radius: 100px;
}
.popup_preview .content .right_content .inner_container .product_description .product_colors .colors_box label input {
  display: none;
}
.popup_preview .content .right_content .inner_container .product_description .product_colors .colors_box label input:checked + .color {
  box-shadow: 0px 0px 11.667px #75F6FF;
}
.popup_preview .content .right_content .inner_container .product_description .product_colors .colors_box label .color {
  border-radius: 100px;
  width: 28px;
  height: 28px;
  background: transparent;
  border: 2.778px solid #2C69B2;
}
.popup_preview .content .right_content .inner_container .product_description .product_colors .colors_box label .color.white {
  background: #FFF;
}
.popup_preview .content .right_content .inner_container .product_description .product_colors .colors_box label .color.black {
  background: #000;
}
.popup_preview .content .right_content .inner_container .product_description .product_colors .colors_box label .color.green {
  background: #FDFFB2;
}
.popup_preview .content .right_content .inner_container .product_description .product_colors .colors_box label .color.yellow {
  background: #B2FFF1;
}
.popup_preview .content .right_content .inner_container .product_description .product_colors .colors_box label .color.orange {
  background: #FFCEB2;
}
.popup_preview .content .right_content .inner_container .product_description .product_colors .colors_box label .color.purple {
  background: #BDB2FF;
}
.popup_preview .content .right_content .inner_container .product_description .product_material {
  margin-top: 24px;
}
.popup_preview .content .right_content .inner_container .product_description .product_material .material_box {
  margin-top: 12px;
  display: flex;
  gap: 16px;
  align-items: center;
}
.popup_preview .content .right_content .inner_container .product_description .product_material .material_box .material_bg {
  width: 50px;
  height: 32px;
  border-radius: 6px;
  border: 0.659px solid #DDD;
  background: lightgray 50%/cover no-repeat;
  box-shadow: 0px 5.273px 10.809px 0px rgba(0, 0, 0, 0.15);
}
.popup_preview .content .right_content .inner_container .product_description .product_material .material_box .name_material {
  color: #fff;
  text-align: center;
  font-family: Saira;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 17.6px */
}
.popup_preview .content .right_content .inner_container .product_description .product_benefis {
  margin-top: 24px;
}
.popup_preview .content .right_content .inner_container .product_description .product_benefis .items {
  margin-top: 12px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px 30px;
}
.popup_preview .content .right_content .inner_container .product_description .product_benefis .items .item {
  display: flex;
  align-items: center;
  gap: 15px;
}
.popup_preview .content .right_content .inner_container .product_description .product_benefis .items .item .text {
  color: #FFF;
  text-align: center;
  font-family: Saira;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 17.6px */
}
.popup_preview .content .right_content .inner_container .product_description .product_benefis .items .item .icon {
  width: 20px;
  height: 20px;
  display: flex;
}
.popup_preview .content .right_content .inner_container .product_description .product_benefis .items .item .icon svg {
  width: 20px;
  height: auto;
}
.popup_preview .content .right_content .inner_container .product_description .designer_signature {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.popup_preview .content .right_content .inner_container .product_description .designer_signature .text {
  color: #FFF;
  font-family: Saira;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 14.4px */
}
.popup_preview .content .right_content .inner_container .product_description .designer_signature .signature {
  width: 32px;
  height: 24px;
}
.popup_preview .content .right_content .inner_container .product_description .designer_signature .signature svg {
  width: 32px;
  height: 24px;
}/*# sourceMappingURL=main.css.map */