*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    background: var(--color-dark-blue);
    background: linear-gradient(270deg, #0D2940 4.9%, #226AA6 49.67%, #0D2940 95%);
    position: relative;
    height: 100vh;
    min-height: 100%;
    &:before{
        content: "";
        position: absolute;
        inset: 0;
        z-index: 1;
        background: linear-gradient(180deg, rgba(13, 41, 64, 0) 68.77%, #0d2940 100%), linear-gradient(180deg, #0d2940 0%, rgba(13, 41, 64, 0) 31.23%);
    }
}
 
/* HEADER */
.header{
    position: absolute;
    left: 44px;
    top: 50%;
    transform: translateY(-50%);
    width: 116px;
    padding: 26px 0 26px 0;
    height: 80%;
    min-height: 673px;
    max-height: 673px;
    border-radius: 19.12px;
    background: linear-gradient(270deg, #214358 -26.5%, #0D2940 21.09%, #0D2940 81.87%, #214358 127.78%);
    z-index: 99;
    .border{
        width: 59px;
        height: 108px;
        background: url("../images/home/header/border_header_left.svg");
        background-size: cover;
    }
    .border2{
        width: 59px;
        height: 108px;
        background: url("../images/home/header/border_header_right.svg");
        background-size: cover;
    }
    .border_top_left{
        position: absolute;
        top: -13px;
        left: -13px;
    }

    .border_top_right{
        position: absolute;
        top: -13px;
        right: -13px;
    }

    .border_bottom_left{
        position: absolute;
        bottom: -13px;
        left: -13px;
        rotate: -180deg;
    }

    .border_bottom_right{
        position: absolute;
        bottom: -13px;
        right: -14px;
        rotate: -180deg;
    }
   
    .logo{
        display: flex;
        justify-content: center;

        img{
            width: 45px;
            height: 29px;
        }
    }

    .nav_search{
        display: flex;
        justify-content: center;
        padding-bottom: 17.5px;
        max-width: 86px;
        margin: 0 auto;
        margin-top: 32px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
        svg{
            width: 61px;
            height: 61px;
        }
        &:hover svg{
            stroke-width: 0.5;
            stroke: #FFFFFF;
            path{
                fill-opacity: 1; 
                fill: #FFFFFF;
            }
        }
    }
    
    .items{
        margin-top: 22.5px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        .active {
            svg{
            stroke-width: 0.5;
            stroke: #FFFFFF;
            path{
                fill-opacity: 1; 
                fill: #FFFFFF;
            }
        }
        }
        .item{
          
        a{
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #FFF;
            text-align: center;
            font-family: var(--font-family);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            svg{
                width: 51px;
                height: 51px;
                transition: stroke-width 0.3s ease-out, stroke 0.3s ease-out, fill-opacity 0.3s ease-out;
            }

            &:hover svg{
                stroke-width: 0.5;
                stroke: #FFFFFF;
                path{
                    fill-opacity: 1; 
                    fill: #FFFFFF;
                }
            }
          
    }
    }    
    }
}

// model
.section_home{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    z-index: 2;
    .top_light{
        position: absolute;
        top: -60px;
        width: 100%;
        max-width: 787px;
        height: 210px;
        background: url("../images/home/top_light.png");
        background-size: 100% 210px;
        background-position: center;
        background-repeat: no-repeat;
    }
    .bottom_light{
        position: absolute;
        bottom: 0px;
        width: 100%;
        max-width: 1228px;
        height: 248.158px;
        background: url("../images/home/bottom_light.png");
        background-size: 100% 248.158px;
        background-position: center;
        background-repeat: no-repeat;      
    }
    .scene{
        width: 600px;
        height: 616px;
        position: absolute;
        bottom: 100px;
        perspective: 1000px;
        z-index: 2;
        display: flex;
        justify-content: center;
        .rotating_object {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 25%;
            left: 40%;
            transform-origin: 236px 0;
            border-radius: 50%;
            img{
                width: 100px;
                height: 100px;
            }
        }
        .model{
            bottom: 0;
            position: absolute;
            width: 236px;
            height: 616px;
        }
    }
}

// Preview shirt
.box_preview{
    z-index: 2;
    position: absolute;
    bottom: 0;
    right: 30px;
    width: 279px;
    height: 552px;
    display: flex;
    justify-content: center;

    .border_margin{
        position: absolute;
        width: 73px;
        height: 68px;
        background: url("../images/home/choose_moore_border.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .border_top_left{
        left: -15px;
        top: -16px;
    }
    .border_top_right{
        right: -17px;
        top: -14px;
        transform: rotate(90deg);
    }
    .border_bottom_left{
        left: -17px;
        bottom: -14px;
        transform: rotate(-90deg);
    }
    .border_bottom_right{
        right: -15px;
        bottom: -16px;
        transform: rotate(-180deg);
    }
    .bg_preview{
        width: 271px;
        height: 512px;
        background: url("../images/home/choose_moore_element.svg");
        background-size: cover;
        background-position: center 50px;
        background-repeat: no-repeat;
        z-index: -1;
    }
    .content_preview{
        z-index: 3;
        position: absolute;
        top: 50px;
        width: 260px;
        height: 354px;
        border-radius: 8.626px;
        background: #0D2F4A;
        mix-blend-mode: lighten;
        box-shadow: 0px 0px 2px 0px #236CBC inset, 0px 123.925px 34.829px 0px rgba(6, 17, 25, 0.00), 0px 79.377px 31.589px 0px rgba(6, 17, 25, 0.03), 0px 44.548px 26.729px 0px rgba(6, 17, 25, 0.11), 0px 19.439px 19.439px 0px rgba(6, 17, 25, 0.19), 0px 4.86px 10.53px 0px rgba(6, 17, 25, 0.22);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title{
        color: #FFF;
        text-shadow: 0px 0px 3.24px rgba(231, 246, 255, 0.40);
        font-family: var(--third-family);
        font-size: 16.199px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 22px;
        padding-bottom: 8.25px;
        position: relative;
        &:before{
            content: "";
            position: absolute;
            left: -12.5px;
            bottom: -9.5px;
            width: 75px;
            height: 43px;
            background: url("../images/home/choose_moore_light.svg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    .border{
        width: 90%;
        height: 0.5px;
        background: linear-gradient(90deg, rgba(107, 151, 153, 0) 0%, #A6F6FF 35.67%, rgba(107, 151, 153, 0) 100%);;
    }
    .container_carousel{
        z-index: 3;
        margin-top: 15px;
        position: relative;
        overflow: hidden;
        width: 205px;
        height: 231px;
        .carousel{
            display: flex;
            transition: transform 0.5s ease;
            .carousel_slide{
                width: 205px;
                min-width: 205px;
                height: 231px;
                display: flex;
                overflow: hidden;
                .img{
                    object-fit: cover;
                    width: 205px;
                    height: 231px;
                }                
            }
        }
    }

    .box_button{
        margin-top: 14px;
        width: 135px;
        height: 31px;
        .button{
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            color: #fff;
            text-align: center;
            font-family: var(--third-family);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            font-variant: all-small-caps;
            border-radius: 10px;
            border: 1px solid #316AA9;
            box-shadow: 0 10px 20px 0 rgba(98, 155, 174, 0.1), inset 0 3px 3px 0 rgba(49, 106, 169, 0.2), inset 0 -3px 3px 0 rgba(49, 106, 169, 0.2), 0 0 18px 0 rgba(49, 106, 169, 0.25);
            background: rgba(0, 61, 110, 0.62);
            mix-blend-mode: screen;
            overflow: hidden;
            &:before, &:after{
                content: "";
                position: absolute;
                
            }
            &:before{
                top: -30px;
                left: -60px;
                width: 188px;
                height: 32px;
                border-radius: 100%;
                background: #a1d7ff;
                filter: blur(22.799999237060547px);
            }
            &:after{
                bottom: -30px;
                right: -50px;
                width: 188px;
                height: 32px;
                border-radius: 100%;
                background: #a1d7ff;
                filter: blur(22.799999237060547px);
            }
            span{
                transform: translateY(-1.5px);
            }
            svg{
                width: 10px;
                height: 14px;
            }
        }
   }

}


// profile
.content_profile{
    position: absolute;
    top: 0;
    right: 0;
    width: 254.846px;
    height: 102.875px;
    z-index: 2;
    &:before{
        content: "";
        position: absolute;
        inset: 0;
        filter: blur(28.850000381469727px);
        background: #071A2A;
        z-index: 1;
    }
                
    .left_box{
        position: absolute;
        left: 0;
        z-index: 2;
        background: url("../images/home/profile_frame.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 84.251px;
        height: 88px;
        display: flex;
        align-items: center;
        justify-content: center;
        .frame{
            position: relative;
            width: 76px;
            height: 77px;
            background: url("../images/home/profile_frame2.svg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            z-index: 3;
            }
        .photo{
            position: absolute;
            left: 1px;
            top: 1px;
            width: 74.5px;
            height: 75px;
            clip-path: polygon(50% 0%, 83% 0, 100% 19%, 100% 100%, 20% 100%, 0 78%, 0 0);
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .right_box{
        position: absolute;
        width: 174px;
        height: 88px;
        right: 0;
        top: 0;
        background: #0A2031;
        box-shadow: 0px 145px 40px 0px rgba(6, 17, 25, 0.01), 0px 93px 37px 0px rgba(6, 17, 25, 0.04), 0px 52px 31px 0px rgba(6, 17, 25, 0.15), 0px 23px 23px 0px rgba(6, 17, 25, 0.26), 0px 6px 13px 0px rgba(6, 17, 25, 0.29);
        z-index: 1;
        display: flex;
        flex-direction: column;
        padding-left: 27px;
        padding-top: 12px;
        .username{
            color: #FDFFFF;
            text-align: left;
            text-shadow: 0px 0px 2.703px #B6EEFF;
            font-family: var(--third-family);
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            font-variant: all-small-caps;
        }
        .level{
            color: #FDFFFF;
            text-align: left;
            text-shadow: 0px 0px 1.966px #B6EEFF;
            font-family: var(--third-family);
            font-size: 13px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            font-variant: all-small-caps;
        }
        .amount{
            padding-top: 12px;
            display: flex;
            gap: 15px;
            .money:first-child{
                .icon{
                    background: url("../images/home/money1.png");
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
            .money:last-child{
                .icon{
                    background: url("../images/home/money2.png");
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
            .money{
                position: relative;
                width: 54px;
                height: 18px;
                border-radius: 2.264px;
                background: #0E2B42;
                display: flex;
                align-items: center;
                justify-content: center;

                
                .icon{
                    width: 32px;
                    height: 30px;
                    position: absolute;
                    left: -10px;
                }
                .sum{
                    padding-left: 18px;
                    color: #FFF;
                    text-align: center;
                    font-family: var(--third-family);
                    font-size: 10.186px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    font-variant: all-small-caps;
                }                
            }
        }
      
        .menu{
            position: absolute;
            right: 7px;
            top: 25px;
            border: none;
            background: none;
        }
        
    }
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 300px;
    background: url('/assets/images/home/floor.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}