* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(270deg, #0d2940 4.9%, #226aa6 49.67%, #0d2940 95%);
}
body .wrapper {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(13, 41, 64, 0) 53.78%, #0d2940 78.2%);
}

.header {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 116px;
  padding: 26px 0 26px 0;
  height: 80%;
  min-height: 695px;
  max-height: 695px;
  border-radius: 19.12px;
  background: linear-gradient(270deg, #214358 -26.5%, #0d2940 21.09%, #0d2940 81.87%, #214358 127.78%);
  z-index: 100;
  padding: 35px 15px 25px 15px;
  box-shadow: 24px 0px 30px 0px rgba(10, 33, 51, 0.28), 6px 0px 13px 0px rgba(10, 33, 51, 0.33);
}
.header nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header .box_nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.header .box_nav .line {
  margin-top: 20px;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, rgba(101, 200, 255, 0) 0%, rgb(101, 200, 255) 50%, rgba(101, 200, 255, 0) 100%);
}
.header .border {
  width: 59px;
  height: 108px;
  background: url("../images/home/header_border1.svg");
  background-size: cover;
}
.header .border2 {
  width: 59px;
  height: 108px;
  background: url("../images/home/header_border2.svg");
  background-size: cover;
}
.header .border_top_left {
  position: absolute;
  top: -13px;
  left: -13px;
}
.header .border_top_right {
  position: absolute;
  top: -13px;
  right: -13px;
}
.header .border_bottom_left {
  position: absolute;
  bottom: -13px;
  left: -13px;
  rotate: -180deg;
}
.header .border_bottom_right {
  position: absolute;
  bottom: -13px;
  right: -14px;
  rotate: -180deg;
}
.header .logo {
  display: flex;
  justify-content: center;
}
.header .logo img {
  width: 45px;
  height: 29px;
}
.header .nav_search {
  margin-top: 28px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  width: 58px;
  height: 58px;
  border-radius: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
}
.header .item_game {
  width: 100%;
}
.header .item_game .line {
  background: linear-gradient(to right, rgba(101, 200, 255, 0) 0%, rgb(101, 200, 255) 50%, rgba(101, 200, 255, 0) 100%);
  height: 1px;
  width: 100%;
  margin-bottom: 20px;
}
.header .item_game a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
  color: #556979;
  text-align: center;
  font-family: Saira;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header .items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
}
.header .items .item.active .icon {
  border: 1px solid #fff;
  background: radial-gradient(50% 50% at 50% 50%, #2c709f 27.4%, rgba(44, 112, 159, 0) 100%);
  box-shadow: 0px 0px 5.3px 0px #fff;
}
.header .items .item.active .icon:before {
  content: "";
  position: absolute;
  border-radius: 58px;
  border: 1px solid #00b0ff;
  mix-blend-mode: plus-lighter;
  box-shadow: 0px 0px 10px 0px #54b0d9;
  filter: blur(1.25px);
}
.header .items .item.active .icon path {
  stroke: #ffffff;
}
.header .items .item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: var(--second-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 5px;
}
.header .items .item a .icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 58px;
  border-radius: 58px;
  border: 1px solid #556979;
}
.header .items .item a .icon:before {
  content: "";
  position: absolute;
}
.header .items .item a .icon svg {
  width: 32px;
  height: 32px;
}
.header .items .item a .icon svg path {
  stroke: #556979;
}

.main {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.main .top_light {
  z-index: 1;
  position: absolute;
  top: -15px;
  width: 100%;
  max-width: 750px;
  height: 200px;
  background: url("../images/home/main_top_light.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main .bottom_light {
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 1228px;
  height: 228px;
  background: url("../images/home/main_bottom_light.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main .bottom_ground {
  z-index: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 228px;
  background: url("../images/home/main_ground.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.main .scene {
  z-index: 2;
  position: absolute;
  bottom: 90px;
  width: 600px;
  height: 616px;
  perspective: 1000px;
  display: flex;
  justify-content: center;
}
.main .scene .rotating_object {
  cursor: pointer;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 25%;
  left: 40%;
  transform-origin: 236px 0;
}
.main .scene .rotating_object img {
  width: 100px;
  height: 100px;
}
.main .scene .model {
  position: absolute;
  bottom: 0;
  width: 320px;
  height: 616px;
}
.main .preview {
  z-index: 3;
  position: absolute;
  right: 20px;
  bottom: 0;
  height: 503px;
  width: 260px;
  display: flex;
  justify-content: center;
}
.main .preview .preview_bottom_element {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: url("../images/home/preview_bottom_element.svg");
  background-size: 195px 163px;
  background-repeat: no-repeat;
  background-position: top center;
}
.main .preview .preview_bottom_element:after {
  z-index: -1;
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
  width: 124px;
  height: 24px;
  border-radius: 30px;
  filter: blur(3px);
  background: #0a1d2c;
  opacity: 0.7;
}
.main .preview .preview_light_element {
  opacity: 0;
  transition: 0.5s all ease;
  z-index: 1;
  position: absolute;
  width: 275px;
  height: 450px;
  background: url("../images/home/preview_light.svg");
  background-size: 285px 454px;
  background-position: bottom;
  background-repeat: no-repeat;
}
.main .preview .preview_content {
  opacity: 0;
  transition: 0.5s all ease;
  z-index: 2;
  position: absolute;
  width: 260px;
  height: 354px;
  border-radius: 20px;
  isolation: isolate;
  background: rgba(13, 47, 74, 0.01);
  background-blend-mode: plus-lighter;
  mix-blend-mode: lighten;
  isolation: isolate;
  box-shadow: 0px 0px 10.206px 0px #1b5c86 inset;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}
.main .preview .preview_content:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(360deg, rgba(6, 17, 25, 0) 98%, rgba(35, 109, 188, 0.6470588235) 100%), linear-gradient(90deg, rgba(6, 17, 25, 0) 98%, rgba(35, 109, 188, 0.6470588235) 100%), linear-gradient(-90deg, rgba(6, 17, 25, 0) 98%, rgba(35, 109, 188, 0.6470588235) 100%);
  background-blend-mode: plus-lighter;
  mix-blend-mode: lighten;
  z-index: -1;
}
.main .preview .preview_content .title {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}
.main .preview .preview_content .title:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 16px;
  transform: translateX(-50%);
  width: 75px;
  height: 43px;
  background: url("../images/home/preview_line_top_light.svg");
}
.main .preview .preview_content .title:after {
  z-index: 3;
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateY(49px) translateX(-50%);
  width: 90%;
  height: 1px;
  background: linear-gradient(to right, rgba(107, 151, 153, 0) 0%, #a6f6ff 35.7%, rgba(107, 151, 153, 0) 100%);
}
.main .preview .preview_content .border {
  position: absolute;
  width: 73px;
  height: 68px;
  background: url("../images/home/preview_border.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main .preview .preview_content .border_top_left {
  top: -12px;
  left: -15px;
}
.main .preview .preview_content .border_top_right {
  top: -12.3px;
  right: -14.5px;
  transform: rotate(90deg);
}
.main .preview .preview_content .border_bottom_left {
  bottom: -12.3px;
  left: -14.5px;
  transform: rotate(-90deg);
}
.main .preview .preview_content .border_bottom_right {
  bottom: -12px;
  right: -15px;
  transform: rotate(180deg);
}
.main .preview .preview_content .button {
  margin-top: 20px;
  position: relative;
  border: 1px solid #316aa9;
  background: rgba(0, 61, 110, 0.62);
  cursor: pointer;
  overflow: hidden;
  width: 135px;
  height: 31px;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 0px 0px 18px 0px rgba(49, 106, 169, 0.25), 0px -3.267px 3.267px 0px rgba(49, 106, 169, 0.2) inset, 0px 3.267px 3.267px 0px rgba(49, 106, 169, 0.2) inset, 0px 9.8px 19.6px 0px rgba(98, 155, 174, 0.1);
}
.main .preview .preview_content .button::before, .main .preview .preview_content .button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 94px;
  height: 32px;
  background: rgba(161, 215, 255, 0.7);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  filter: blur(11.4px);
  z-index: -1;
}
.main .preview .preview_content .button::before {
  transform: translate(0%, -50%) translateY(20px);
}
.main .preview .preview_content .button::after {
  transform: translate(-100%, -50%) translateY(-20px);
  mix-blend-mode: lighten;
}
.main .preview .preview_content .button:hover {
  background-color: rgba(0, 61, 110, 0.8);
}
.main .preview .preview_content .button:focus {
  outline: none;
}
.main .preview .preview_content .button .content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.main .preview .preview_content .button .content .text {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 16px;
  font-variant: all-small-caps;
  text-align: center;
  color: #fff;
  transform: translateY(-1.5px);
}
.main .preview .preview_content .button {
  margin-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 135px;
  height: 31px;
  border-radius: 10px;
  background: linear-gradient(#41c3ff, rgba(0, 60, 110, 0)) padding-box, linear-gradient(to right, #316aa9, rgba(25, 52, 84, 0), #316aa9);
  box-shadow: 0 10px 20px 0 rgba(98, 155, 174, 0.1), inset 0 3px 3px 0 rgba(49, 106, 169, 0.2), inset 0 -3px 3px 0 rgba(49, 106, 169, 0.2), 0 0 18px 0 rgba(49, 106, 169, 0.25);
  border: 1px solid transparent;
}
.main .preview .preview_content .container_carousel {
  z-index: 3;
  position: relative;
  overflow: hidden;
  margin-top: 15px;
  width: 195px;
  height: 221px;
}
.main .preview .preview_content .container_carousel .carousel {
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform 0.3s ease;
}
.main .preview .preview_content .container_carousel .carousel .carousel_slide {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main .preview .preview_content .container_carousel .carousel .carousel_slide .img {
  width: 100%;
  height: auto;
}
.main .profile {
  z-index: 100;
  position: absolute;
  right: 0;
  top: 0px;
  width: 213px;
  min-width: 213px;
  height: 78px;
  min-height: 78px;
  max-height: 78px;
  border-radius: 20px 0px 0px 20px;
  background: linear-gradient(270deg, #0d2940 0%, #113654 100%);
  box-shadow: 0px 0px 10.206px 0px #1b5c86 inset;
  padding-left: 5px;
  display: flex;
  align-items: center;
}
.main .profile .border {
  width: 32px;
  height: 33px;
  background: url("../images/home/border_profile.svg");
  background-size: 32px 33px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}
.main .profile .border_top_left {
  top: -6px;
  left: -7px;
}
.main .profile .border_bottom_left {
  bottom: -7.7px;
  left: -6.6px;
  transform: rotate(-90deg);
}
.main .profile .user_photo {
  z-index: 2;
  position: relative;
  width: 74px;
  height: 71px;
  flex-shrink: 0;
  display: flex;
  border-radius: 20px;
  background: lightgray 0px -1px/102.703% 104.225% no-repeat, linear-gradient(180deg, rgba(13, 43, 66, 0.01) 0%, #2a94cf 100%);
}
.main .profile .user_photo img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.main .profile .profile_username {
  position: absolute;
  left: 87px;
  top: 16px;
  color: #fff;
  text-shadow: 0px 0px 3.24px rgba(231, 246, 255, 0.4);
  font-family: var(--third-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main .profile .burger {
  position: absolute;
  top: 13px;
  right: 13px;
  width: 20px;
  height: 14px;
  border: none;
  background: none;
}
.main .profile .profile_box {
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 150px;
  height: 35px;
  min-height: 35px;
  max-height: 35px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 28px;
  gap: 20px;
}
.main .profile .profile_box:before {
  content: "";
  position: absolute;
  width: 150px;
  height: 35px;
  top: 0;
  left: 0;
  background: #123e5e;
  filter: blur(2px);
}
.main .profile .profile_box .top_line {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 150px;
  padding: 0.3px;
  background: linear-gradient(to right, rgba(101, 200, 255, 0) 0%, rgb(101, 200, 255) 50%, rgba(101, 200, 255, 0) 100%);
}
.main .profile .profile_box .bottom_line {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 150px;
  padding: 0.3px;
  background: linear-gradient(to left, rgba(101, 200, 255, 0) 0%, rgb(101, 200, 255) 50%, rgba(101, 200, 255, 0) 100%);
}
.main .profile .profile_box .button_profile {
  position: relative;
  width: 30px;
  height: 30px;
  border: none;
  background: none;
}
.main .profile .profile_box .button_profile:hover:before {
  content: "";
  position: absolute;
  inset: 0;
  width: 30px;
  height: 30px;
  background: rgba(73, 169, 225, 0.5);
  mix-blend-mode: plus-lighter;
  filter: blur(12.8999996185px);
}/*# sourceMappingURL=main.css.map */