@media screen and (max-height: 750px) {
   .header{
        min-height: 650px;
    .items{
        gap: 10px;
    }
   }
}
  
@media screen and (max-height: 680px) {
    .header{
         min-height: 580px;
        padding: 25px 15px 25px 15px;
    .nav_search{
        margin-top: 20px;
        width: 45px;
        height: 45px;
        a{
            svg{
                width: 17px;
                height: 17px;
            }
        }
    }
     .items{
         gap: 5px;
         .item a{
            .icon{
                width: 45px;
                height: 45px;
                svg{
                    width: 24px;
                    height: 24px;
                }
            }
     
         }
     }
     .item_game{
        a{
            svg{
                width: 45px;
            }
        }
       
     }
    }
 }
   